

.account-cont{
    width:1000px; display:relative;
}

.account-cont .row{
    height:120px;
}

.account-cont .item{
    width:260px; 
    height:auto;
    display:inline-block;
    text-align:left; 
    cursor:pointer;
}
.account-cont .item:hover{
    background-color: #ececec;
}

.account-cont .item .app-icon{
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 65px;
}

.account-cont .item .app-desc{
    display:inline-block;
}