
.nav-link{
    padding-left:0px !important;
    padding-right:50px !important; 
}

.cont{
    padding-top:30px;
}

.cont-2.hidden{
    display:none;
}


table.fraud.hidden{
    display:none;
}
table.fraud{
    margin-top:20px;
    width:1200px;
    margin-bottom:50px;
}
table.fraud thead td.adpartner{
    width:120px;
}
table.fraud thead td.pubid{
    width:160px;
}
table.fraud thead td.ip{
    width:160px;
}
table.fraud thead td.datetime{
    width:200px;
}
table.fraud thead td{
    background-color:#f9f9f9;
    height:37px;
    font-size:18px;
    font-weight:600;
    padding-left:10px;
}

table.fraud tbody tr{
    border-bottom:1px dotted #ececec;
    height:45px;
}

table.fraud tbody tr td{
    padding-left:10px;
}

table.fraud tbody tr:last-of-type{
    border-bottom: none;
}



.hidden{
    display:none;
}


#dropdown-1{
    border-radius:2px;
    background-color:white;
    color:#404040;
    width:130px;
    text-align:left;
}




.modal.fraud .modal-content{
    border:none;
    width:650px;
}

.modal.fraud .modal-header{
    background-color:#00264d;
    color:white;
}

.modal.fraud .modal-header .close{
    color:white;
}

.modal.fraud .modal-body{
    padding:30px 39px;
}

.modal.fraud .modal-body .label:first-of-type{
    font-size:18px;
    color:#404040;
    margin-top:0px;
}
.modal.fraud .modal-body .label{
    margin-top:40px;
}
.modal.fraud .modal-body .text{
    margin-top:7px;
    margin-bottom:7px;
}

.modal.fraud .modal-body .text textarea{
    width:550px;
    border-radius:6px;
    cursor:pointer;
    height:150px;
}

.modal.fraud .modal-body .text input[type=textbox]{
    width:550px;
    border-radius:6px;
    cursor:pointer;
}

.modal.fraud .modal-body .text input[type=textbox]:hover{
    border:1px solid blue;
}