.land .cont{
    border-radius:6px; border:1px dotted #ececec;width:1300px;padding:30px;margin-top:20px;margin-bottom:70px;height:550px;
}

.land .cont .context{
    width:1200px;height:450px;background-color:#f9f9f9;
}

.land .cont .context.desktop{
    height:280px;
}

.land .cont.desktop{
    height:380px;
}

.land .cont .context .header{
    padding-left:40px; padding-top:43px;
}


.land .cont .context .link-textbox{
    padding-left: 40px;padding-top: 11px;
}

.land .cont .context .link-textbox .label{
    display:inline-block; width:140px;
}

.land .cont .context .footer{
    padding-left:40px; padding-top:40px;
}

.land .cont .context .footer input[type=checkbox]{
    margin-right:12px; top:1px; position:relative;
}

.land .cont .context .link-textbox input[type=textbox]{
    width:650px;
    height:35px;
    padding-left:10px;
}