table.partner{
    margin-top:45px;
}
table.partner thead td{
    width:250px;
    background-color:#f9f9f9;
    height:37px;
    font-size:18px;
    font-weight:600;
    padding-left:10px;
}

table.partner tbody tr{
    border-bottom:1px dotted #ececec;
    height:45px;
}

table.partner tbody tr td{
    padding-left:10px;
}

table.partner tbody tr td span.active{
    color:green;
}


table.partner tbody tr:last-of-type{
    border-bottom: none;
}



table.partner tbody span.config{
    cursor:pointer;
}

table.partner tbody span.config:hover{
    color:blue;
    text-decoration: underline;
}


.modal.partner .modal-content{
    border:none;
    width:650px;
}

.modal.partner .modal-header{
    background-color:#00264d;
    color:white;
}

.modal.partner .modal-header .close{
    color:white;
}

.modal.partner .modal-body{
    padding:30px 39px;
}

.modal.partner .modal-body .label:first-of-type{
    font-size:18px;
    font-weight:500;
    color:#404040;
    margin-top:0px;
}
.modal.partner .modal-body .label{
    margin-top:40px;
}
.modal.partner .modal-body .text{
    margin-top:7px;
    margin-bottom:7px;
}

.modal.partner .modal-body .text textarea{
    width:550px;
    border-radius:6px;
    cursor:pointer;
    height:150px;
}

.modal.partner .modal-body .text input[type=textbox]{
    width:550px;
    border-radius:6px;
    cursor:pointer;
}

.modal.partner .modal-body .text input[type=textbox]:hover{
    border:1px solid blue;
}